Cython==3.1.4
setuptools==79.0.1
wheel==0.45.1
Bgolearn==2.0.0
catboost==1.2
graphviz==0.20.1
matplotlib==3.6.3
Pillow==9.5.0
PyYAML==6.0
requests==2.31.0
scikit-learn==1.2.2
seaborn==0.12.2
shap==0.43.0
xgboost==1.7.4
sko==0.5.7
SciencePlots==2.1.0
prettytable==3.8.0
tabulate==0.9.0
pymoo==0.6.0.1
matminer==0.9.0
bayesian-optimization==1.4.3
pymatgen==2023.12.18
adapt==0.4.4
tensorflow==2.15.0
tensorflow-macos==2.15.0
numpy==1.25.2
pandas==1.5.3
streamlit==1.50.0
streamlit-analytics==0.4.1
streamlit-extras==0.2.7
streamlit-option-menu==0.3.2
streamlit-shap==1.0.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metal==1.2.0